<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body ng-app="myApp" ng-controller="testController">
    <!-- currency 过滤货币形式的数据 就可以让数据以货币的形式展示 -->
    <h1>{{ 360000000000 | currency: "￥"}} </h1>
    <!-- number就可保留多少位小数点 四舍五入-->
    <h1>{{ 3600.12 | number:2}}</h1>
    <!-- lowercase将字符串转成小写 -->
    <h1>{{ "HEllo" | lowercase}}</h1>
    <!-- uppercase将字符串转成大写 -->
    <h1>{{ "world" | uppercase}}</h1>
    <!-- json可以把JS对象转成标准的JSON字符串 如果属性不加引号 会自动加 并且属性和值之间的空格也会加上 -->
    <h1>{{ {name:"dreamapple",language:"AngularJS"} | json}}</h1>
    <h1>{{ {"name":"dreamapple","language":"AngularJS"} }}</h1>
    <!-- date 过滤器 格式 yyyy - MM - dd HH:mm:ss  年 - 月 - 日 时:分:秒 -->
    <h1>{{ today | date: "yyyy - MM - dd HH:mm::ss"}}</h1>
    <!-- filter : 值  == 表示 只显示循环中的每一个对象里面的值包含这个值 -->
    <!-- filter : {属性:值} 表示 只显示循环中的每一个对象里面的这个属性包含这个值 -->
    <!-- filter : func(函数)  可以筛选符合函数返回的格式的数据 (这个函数要暴露出来)-->
    var tiaojian = {age:3};
    tiaojian = {age:4}
    <div ng-repeat="a in array | filter : {age:3}">{{a}}</div>
    <!-- limitTo 是显示几个字符 -->
    <h1>{{ '你好你好你好' | limitTo : 5 }} </h1>
    <div ng-repeat="value in arr | orderBy : sortSimpleType">{{value}}</div>
    <!-- orderBy排序 可以根据某个属性值来排序 如果是字母 是根据字母的顺 如果有相等往后比  如果是数字就按照数字的大小来排序-->
    <h1> {{ [{'name':'bzck','age':34},{'name':'bob','age':23}] | orderBy: sortObjectType }}</h1>
    <!-- <span>{{1288323623006 | date:'medium'}}</span><br>

 <span>{{1288323623006 | date:'yyyy-MM-dd HH:mm:ss Z'}}</span><br>

<span>{{'1288323623006' | date:'MM/dd/yyyy @ h:mma'}}</span><br>

<span>{{'1288323623006' | date:"MM/dd/yyyy 'at' h:mma"}}</span><br> -->
    <!-- 1.引包 -->
    <script src="node_modules/angular/angular.js"></script>
    <script>
    angular.module('myApp', [])
        .controller('testController', ['$scope', function($scope) {
            $scope.today = new Date();
            console.log($scope.today);
            $scope.array = [{
                name: 'kimi',
                age: 3
            }, {
                name: 'cindy',
                age: 4
            }, {
                name: 'anglar',
                age: 4
            }, {
                name: 'shitou',
                age: 6
            }, {
                name: 'tiantian',
                age: 5
            }];
            $scope.arr = [1, 3, 2, 5, 4];
            //如果里面要过滤的条件是一个表达式 可以通过一个函数来过滤
            $scope.func = function(e) {
                return e.age > 3;
            };
            $scope.sortSimpleType = function(op) {
                return op;
            };
            $scope.sortObjectType = function(obj) {
                return obj['age'];
            }
        }])
    </script>
</body>

</html>
